/* ** DEBUG & DEVELOP ** */

div, section, article, nav, p, header, footer, form, table, ul, li {
    outline: 1px dashed red;
}


html, body, div, section, article, aside, nav, header, footer {
    margin: 0;
    padding: 0;
}

/* ** TYPOGRAPHICS ** */
html {
    font-family: Helvetica, sans-serif;
}

/* ** COLOURS ** */
html {
    background-image: url(Presentation/img/red-curtains.jpg);
    background-repeat: no-repeat;
}
body {
    color: whitesmoke;
    background-color: black;
}

.error {
    color: red;
}
.success {
    color: green;
}
.btnImg {
    filter: invert(1);
}
.menuBtn {
    color: whitesmoke;
    background-color: black;
}
/* ** STRUCTURE ** */

#wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
}
#btnSpan>p {
    display: inline-flex;
}
form {
    width: 80%;
    margin: auto;
}
table {
    margin: auto;
}