/* ** DEBUG & DEVELOP ** */
/*
div, section, article, nav, p, header, footer, form, table, ul, li {
    outline: 1px dashed red;
}
*/
html, body, div, section, article, aside, nav, header, footer {
    margin: 0;
    padding: 0;
}

/* ** TYPOGRAPHICS ** */
@font-face {
    font-family: "CinemaBoard";
    src: url("Presentation/fonts/CinemaBoard.ttf") format("truetype");
}
@font-face {
    font-family: "CinemaGothic";
    src: url("Presentation/fonts/CinemaGothic.ttf") format('truetype');
}
html {
    font-family: "CinemaGothic";
}
h1, caption {
    font-family: "CinemaBoard";
    font-size: 42px;
}
.menuBtn, .submitBtn {
    font-family: "CinemaGothic";
}
#returnBtn {
    font-family: "CinemaGothic";
    font-size: 32px;
}
#wrapper>footer {

}
/* ** COLOURS ** */
html {
    background-image: url("/Presentation/img/red-curtains.jpg");
    background-repeat: no-repeat;
}
body {
    color: whitesmoke;
    background-color: darkred;
    background-image: url("Presentation/img/background-test-3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#wrapper {
    color: whitesmoke;
    background-color: black;
}
.error {
    color: red;
}
.success {
    color: green;
}
.btnImg {
    filter: invert(1);
}
.menuBtn, .submitBtn {
    color: whitesmoke;
    background-color: black;
}


/* ** STRUCTURE ** */

#wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
}
#btnSpan>p {
    display: inline-flex;
}
form {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
table {
    margin: auto;
    margin-top: 10%;

}
#dvdOverview tr>td {
    display: inline-flex;
    flex-direction: row;
}
footer {
    margin-top: 10%;
}